# IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Anova Test (F-Test)

The t-test works well when dealing with two groups, but sometimes we want to compare more than two groups at the same time, In that case we use Anova Testing or F Test.

So F test tell whether two or more groups are similar or not based on their mean similarity and f-score.

So We will check this in the iris dataset which is present in seaborn library.

In [2]:
df = sns.load_dataset('iris')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df_anova = df[['petal_width','species']]

In [5]:
grps = pd.unique(df_anova.species.values)

In [6]:
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
d_data = {grp:df_anova['petal_width'][df_anova.species == grp] for grp in grps}

In [8]:
print(d_data)

{'setosa': 0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
13    0.1
14    0.2
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
22    0.2
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.2
35    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    0.4
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal_width, dtype: float64, 'versicolor': 50    1.4
51    1.5
52    1.5
53    1.3
54    1.5
55    1.3
56    1.6
57    1.0
58    1.3
59    1.4
60    1.0
61    1.5
62    1.0
63    1.4
64    1.3
65    1.4
66    1.5
67    1.0
68    1.5
69    1.1
70    1.8
71    1.3
72    1.5
73    1.2
74    1.3
75    1.4
76    1.4
77    1.7
78    1.5
79    1.0
80    1.1
81    1.0
82    1.2
83    1.6
84    1.5
85    1.6
86    1.5
87    1.3
88    1.3
89    1.3
90    1.2
91    1.4
92    1.2
93    1.0
94    1.3
95    1.2
96    1.3
97    1.3
98    1.1
99    1.3
Name: petal_width, dtype: float64, 'virginica': 100    2.5
101    1.9
102    2.1
103    1.8
104    2.2
105    2.1
106    1.7
107    1.8
108    1.8
109    2.5
110    2.0
111    1.9
112    2.1
113    2.0
114    2.4
115    2.3
116    1.8
117    2.2
118    2.3
119    1.5
120    2.3
121    2.0
122    2.0
123    1.8
124    2.1
125    1.8
126    1.8
127    1.8
128    2.1
129    1.6
130    1.9
131    2.0
132    2.2
133    1.5
134    1.4
135    2.3
136    2.4
137    1.8
138    1.8
139    2.1
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, dtype: float64}

In [9]:
F, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])

In [10]:
p

4.169445839443116e-85

In [11]:
if p<0.05:
    print("null hypothesis is rejected")
else:
    print("null hypothesis is accepted")

null hypothesis is rejected

In [12]:
df_anova = df[['sepal_width','species']]

In [13]:
d_data = {grp:df_anova['sepal_width'][df_anova.species == grp] for grp in grps}

In [14]:
d_data

{'setosa': 0     3.5
 1     3.0
 2     3.2
 3     3.1
 4     3.6
 5     3.9
 6     3.4
 7     3.4
 8     2.9
 9     3.1
 10    3.7
 11    3.4
 12    3.0
 13    3.0
 14    4.0
 15    4.4
 16    3.9
 17    3.5
 18    3.8
 19    3.8
 20    3.4
 21    3.7
 22    3.6
 23    3.3
 24    3.4
 25    3.0
 26    3.4
 27    3.5
 28    3.4
 29    3.2
 30    3.1
 31    3.4
 32    4.1
 33    4.2
 34    3.1
 35    3.2
 36    3.5
 37    3.6
 38    3.0
 39    3.4
 40    3.5
 41    2.3
 42    3.2
 43    3.5
 44    3.8
 45    3.0
 46    3.8
 47    3.2
 48    3.7
 49    3.3
 Name: sepal_width, dtype: float64, 'versicolor': 50    3.2
 51    3.2
 52    3.1
 53    2.3
 54    2.8
 55    2.8
 56    3.3
 57    2.4
 58    2.9
 59    2.7
 60    2.0
 61    3.0
 62    2.2
 63    2.9
 64    2.9
 65    3.1
 66    3.0
 67    2.7
 68    2.2
 69    2.5
 70    3.2
 71    2.8
 72    2.5
 73    2.8
 74    2.9
 75    3.0
 76    2.8
 77    3.0
 78    2.9
 79    2.6
 80    2.4
 81    2.4
 82    2.7
 83    2.7
 84    3.0
 85    3.4
 86    3.1
 87    2.3
 88    3.0
 89    2.5
 90    2.6
 91    3.0
 92    2.6
 93    2.3
 94    2.7
 95    3.0
 96    2.9
 97    2.9
 98    2.5
 99    2.8
 Name: sepal_width, dtype: float64, 'virginica': 100    3.3
 101    2.7
 102    3.0
 103    2.9
 104    3.0
 105    3.0
 106    2.5
 107    2.9
 108    2.5
 109    3.6
 110    3.2
 111    2.7
 112    3.0
 113    2.5
 114    2.8
 115    3.2
 116    3.0
 117    3.8
 118    2.6
 119    2.2
 120    3.2
 121    2.8
 122    2.8
 123    2.7
 124    3.3
 125    3.2
 126    2.8
 127    3.0
 128    2.8
 129    3.0
 130    2.8
 131    3.8
 132    2.8
 133    2.8
 134    2.6
 135    3.0
 136    3.4
 137    3.1
 138    3.0
 139    3.1
 140    3.1
 141    3.1
 142    2.7
 143    3.2
 144    3.3
 145    3.0
 146    2.5
 147    3.0
 148    3.4
 149    3.0
 Name: sepal_width, dtype: float64}

In [15]:
_, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])

In [16]:
p

4.492017133309115e-17

In [17]:
if p<0.05:
    print("null hypothesis is rejected")
else:
    print("null hypothesis is accepted")

null hypothesis is rejected